.button {
    width: 100%;
    padding: 15px 5px;
    background-color: #549300;
    border: 0;
    font-weight: 700;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #498100;
}